# Binaires
/bin/
/dist/
*.exe
*.test
main

#download
downloads/

# Sécurité
identity.pem

# Fichiers spécifiques OS
.DS_Store

# Fichiers IDE (optionnel mais recommandé)
.vscode/
.idea/

printtree.txt
handler.txt
ancienmain.txt